/*
 * @Author: mikey.wf 
 * @Date: 2020-09-28 16:52:24 
 * @Last Modified by: mikey.wf
 * @Last Modified time: 2020-09-28 16:53:12
 */
.ad-div{
  margin-top: .5rem;
  div{
    border-radius: .3rem;
    margin-bottom: .2rem;
    overflow: hidden;
  }
}