/*
 * @Author: mikey.wf 
 * @Date: 2020-09-29 10:02:24 
 * @Last Modified by: mikey.wf
 * @Last Modified time: 2020-09-29 10:02:54
 */
.footer-div{
  text-align: center;
  width: 100%;
  padding: 1rem;
  color: #888;
}